/* ApartmentDetails.module.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center; /* Center text */
    padding: 20px;
    background-color: #f9f9f9; /* Light background color */
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333; /* Darker color for better contrast */
  }
  
  .details {
    font-size: 1.2rem;
    color: #555; /* Gray text for details */
    margin: 0.5rem 0;
  }
  
  .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e74c3c; /* A color for the price */
    margin: 1rem 0;
  }
  
  .image {
    max-width: 60%;
    max-height: 60%;
   
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* // height: auto;*/
 